%h2.sign-in-heading Select Restaurant To Join
.row
  #employee-join-form
    = simple_form_for(:employee, {url: "join",method: :put}) do |f|
      = collection_select(:employee, :restaurant_id, Restaurant.all, :id, :name)
      .button-wrap
        = f.button :submit, "Join Restaurant", class: "submit-button"
      =link_to "Add A Restaurant", new_restaurant_path
