%h1 Hear's My Order
%ul
  - unless current_user || current_employee
    %li=link_to "Register", new_user_registration_path
    %li=link_to "Register As Employee", new_employee_registration_path
    %li=link_to "User Sign In", new_user_session_path
    %li=link_to "Employee Sign In", new_employee_session_path
  - if current_user
    %li=link_to "User Sign Out", destroy_user_session_path, method: :delete
  - if current_employee
    %li=link_to "Employee Sign Out", destroy_employee_session_path, method: :delete
