#map-wrapper
  %h1.sign-in-heading Find A Restaurant
  #map-canvas
.row
  %ul.restaurants-listing
    - @restaurants.each do |restaurant|
      .one-restaurant
        %li.restaurant{data: {latitude: restaurant.latitude, longitude: restaurant.longitude, name: restaurant.name, id: restaurant.id}}
          .button.rest-index-button= link_to restaurant.name, restaurant_path(restaurant)
          %ul
            %li= number_to_phone(restaurant.phone)
            %li= restaurant.address

= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD-2wn8zNBeDOrvZe6jxSrQI34CAMqEcJI"
