h1 {
  color: red;
}

#register_form {
  @extend .small-10;
  @extend .small-centered;
  @extend .columns;
  @extend .medium-4;
  @extend .medium-centered;
  @extend .columns;
}

.btn {
  @extend .button;
}

#map-canvas {
  height: 500px;
  width: 700px;
}

#map-canvas img {
  max-width: none;
}
