$faded_red: rgba(167,72,72, .8);
$faded_blue: rgba(93,177,190,.9);
$faded_green: rgba(178,224,155,.8);

body{
  font-family: 'Inconsolata';
  background-image: image-url('grey_wash_wall.png');
  background-repeat: repeat;
}

h2{
  font-family: 'Inconsolata';
}

#register_form {
  @extend .small-10;
  @extend .small-centered;
  @extend .columns;
  @extend .medium-4;
  @extend .medium-centered;
  @extend .columns;

  background: #DBDBDB;
  margin-top: 7%;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px 2px #272727;

  .button-wrap{
    text-align: center;

    button{
      font-family: 'Inconsolata';
    }
  }
}


.sign-in-heading{
  background: #DBDBDB;
  text-align: center;
  box-shadow: 0 12px 6px -6px #272727;

  @extend .small-10;
  @extend .small-centered;
  @extend .columns;
  @extend .medium-6;
  @extend .medium-centered;
  @extend .columns;
  margin-top: 2%;
  font-family: 'Inconsolata';
}

#sign-in-form {
  background: #DBDBDB;
  @extend .small-10;
  @extend .small-centered;
  @extend .columns;
  @extend .medium-4;
  @extend .medium-centered;
  @extend .columns;

  margin-top: 7%;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px 2px #272727;

  .button-wrap{
    text-align: center;
  }
}

#employee-join-form{
  @extend #sign-in-form;
  padding-top: 10px;
}

.btn {
  @extend .button;
}

.submit-button{
  background: $faded_green;
  color: #272727;
}

#map-wrapper{
  margin-top: 5%;
  height: 100%;
  width: 100%;
}
#map-canvas {
  height: 75%;
  width: 75%;
  margin: auto;
}

#map-canvas{
  margin-top: 7%;
  box-shadow: 0px 0px 12px 7px #272727;
  img{
    max-width: none;
  }
}

.alert, .notice {
  margin: 0px;
}
